body {

background-color: rgb(7, 156, 131);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.info-box {

background-color: rgb(182, 78, 9);
height: 400px;
width: 300px;
text-align: center;
padding: 20px;
border: 3px solid;

}

.galeria-box {

background-color: green;
height: 400px;
width: 300px;
text-align: center;
padding: 20px;
border: 3px solid;

}

.img-tot{

padding: 15px 7px 0px 0px;

}

.img {

height: 130px;
width: 120px;

}

h2 {

padding-top: 10px;

}

.perfil {

background-color: rgb(9, 9, 168);
height: 400px;
width: 300px;
text-align: center;
padding: 20px;
border: 3px solid;

}

.img-perfil {

border-radius: 50%;
width: 200px;
height: 170px;

}

.info {




}